html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 1.1em;
    /* Margin bottom by footer height */
    direction: rtl;
    text-align: start;
    font-family: 'Bellefair', serif;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
}

h3 {
    font-size: 2.8em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

p {
    margin-bottom: 0.3em;
}

.primary-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-logo {
    height: 30px;
}

.dropdown-toggle::after {
    content: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: white;
    box-shadow: 2px 2px 10px gray;
}

.navbar {
    box-shadow: 2px 2px 10px gray;
}

#header-toggler {
    z-index: 2010;
    position: fixed;
    top: -3.5em;
    right: -3.5em;
    font-size: 2em;
    height: 5em;
    width: 5em;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
}

#header-toggler-checkbox {
    position: fixed;
    display: none;
}

#header-toggler > label {
    position: absolute;
    bottom: 0;
    line-height: 0.5em;
    right: 50%;
    transform: translateX(50%) translateY(-30%);
    cursor: pointer;
    color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible;
}

header {
    width: 100%;
}

.index-page-header {
    width: 100%;
    z-index: 2000;
    position: fixed;
    opacity: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.25s 0.25s;
    transition-timing-function: cubic-bezier(0.405, 1.465, 0.915, 1.415);
}

#header-toggler-checkbox:checked + .index-page-header {
    opacity: 1;
    transform: scaleX(1);
}

.current {
    color: black !important;
    font-weight: 700;
    text-shadow: 2px 2px 3px grey;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .dropdown-menu.flipY {
        opacity: 1;
        transform-origin: top;
        transition-timing-function: cubic-bezier(0.405, 1.465, 0.915, 1.415);
        transform: perspective(1000px) rotateX(-90deg);
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: 0.15s;
        transition-timing-function: cubic-bezier(0.405, 1.465, 0.915, 1.415);
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: perspective(1000px) rotateX(0deg);
    }
}

.parallax {
    /* Full height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.parallax-image-1 {
    background-image: url('/images/tel\ aviv\ image_edited.jpg');
    height: 130%;
}

.parallax-image-2 {
    background-image: url('/images/קפה\ שישי\ עדי.jpeg');
    background-attachment: scroll;
    height: 30%;
    background-position-x: center;
}

.parallax-image-3 {
    background-image: url('/images/שפירא\ פרח\ אורך.jpg');
    background-attachment: fixed;
    height: 70%;
    background-position-x: center;
    background-position-y: center;
}

@media (min-aspect-ratio: 3/4) {
    .parallax-image-3 {
        background-image: url('/images/שפירא\ פרח.jpg');
        background-attachment: fixed;
        height: 80%;
        background-position-x: left;
        background-position-y: 80%;
    }
}

@media (min-aspect-ratio: 330/500) {
    .parallax-image-2 {
        background-attachment: scroll;
        height: 40%;
    }
}

@media (min-aspect-ratio: 400/500) {
    .parallax-image-2 {
        background-attachment: scroll;
        height: 50%;
    }
}

@media (min-aspect-ratio: 500/500) {
    .parallax-image-2 {
        background-attachment: scroll;
        height: 60%;
    }
}

@media (min-aspect-ratio: 600/500) {
    .parallax-image-2 {
        background-attachment: scroll;
        height: 75%;
    }
}

@media (min-aspect-ratio: 1350/707) {
    .parallax-image-2 {
        background-attachment: fixed;
        height: 80%;
    }
}

.max-width-90 {
    max-width: 90%;
}

.max-height-50 {
    max-height: 50%;
}

.div-h1 {
    position: fixed;
    z-index: 1;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 50%;
    margin-left: -35%;
    margin-top: 0%;
    background: rgba(224, 224, 224, 0.2);
    backdrop-filter: blur(40px);
    vertical-align: middle;
    box-shadow: 2px 2px 10px black;
    animation: div_h1 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes div_h1 {
    20%, 80% {
        opacity: 0;
    }

    95% {
        opacity: 1;
    }
}

.welcome {
    position: fixed;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    vertical-align: middle;
    z-index: 15;
    font-family: 'Amatic SC', cursive;
    font-size: 8em;
    font-weight: 900;
}

    .welcome > div {
        height: 20%;
        width: 600px;
        max-width: 100%;
        position: absolute;
        vertical-align: middle;
        /* transform: translateX(0) rotateX(0deg); */
        transform-origin: top;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

        .welcome > div > div {
            opacity: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(40px);
            box-shadow: 2px 2px 10px black;
            animation: welcome 6s ease-out 0s infinite forwards;
        }

        .welcome > div:nth-child(even) > div {
            animation: welcome 6s ease-in 1s infinite forwards;
        }

@keyframes welcome {
    0%, 30% {
        transform-origin: bottom;
        transform: perspective(1000px) rotateX(-90deg);
        opacity: 0;
    }

    50% {
        transform-origin: bottom;
        opacity: 1;
        transform: rotateX(0deg);
    }

    80% {
        transform-origin: top;
        opacity: 1;
        transform: rotateX(0deg);
    }

    100% {
        transform-origin: top;
        opacity: 0;
        transform: perspective(1000px) rotateX(-90deg);
    }
}

.welcome-image {
    position: absolute;
    display: inline;
    max-width: 90%;
    max-height: 95%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.welcome-1 {
    animation: welcome_1 1s linear;
}

@keyframes welcome_1 {
    20%, 80% {
        opacity: 0;
        transform: translateX(150%) scale(50%);
    }
}

.welcome-2 {
    vertical-align: bottom;
    bottom: 0;
    left: 0;
    animation: welcome_2 1s linear;
}

@keyframes welcome_2 {
    20%, 80% {
        opacity: 0;
        transform: translateX(-150%) scale(50%);
    }
}

.home-logo {
    position: absolute;
    display: inline;
    vertical-align: middle;
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.h1-1 {
    transition: all 1s 1s;
    transform: translateX(0) rotate(0deg);
    animation: h1_1 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes h1_1 {
    20%, 80% {
        transform: translateX(150%) rotate(120deg);
    }

    90% {
        transform: translateX(0) rotate(0deg);
    }
}

.h1-2 {
    transform: translateX(0) rotate(0deg);
    animation: h1_2 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes h1_2 {
    20%, 80% {
        transform: translateX(-150%) rotate(120deg);
    }

    90% {
        transform: translateX(0) rotate(0deg);
    }
}

.progress {
    height: 5px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    animation: progress 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes progress {
    to {
        background-color: blueviolet;
        width: 100%;
    }
}

.content-1,
.content-2 {
    position: relative;
    background: rgb(181, 131, 228);
    box-shadow: 0px 10px 10px black, 0px -10px 10px black;
    z-index: 20;
}

.carousel {
    box-shadow: 0px 0px 20px 10px black;
}

.strong-qoute {
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
}

.standard-image {
    width: 100%;
}

.myModals {
    z-index: 1072;
}

.myClose {
    margin: -1rem auto -1rem -1rem !important;
}

#logo {
    height: 80px;
}

.rav > img {
    clip-path: circle(40% at 50% 31%);
    max-height: 300px;
}

.myparallax {
    transition: none 0s ease 0s;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    will-change: background-position;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-top: 35%;
}

    .myparallax > img {
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }

blockquote {
    font-style: italic;
    margin-right: 10%;
    margin-left: 10%;
}

.col-12:nth-of-type(1) {
    margin-bottom: 1rem;
}

.half {
    position: relative;
    height: 20em;
    overflow: hidden;
}

.continue-btn {
    width: 100%;
    background-image: linear-gradient(180deg, transparent, white, white);
    position: absolute;
    top: 12em;
    left: 50%;
    height: 8em;
    transform: translateX(-50%);
}

    .continue-btn > button {
        position: absolute;
        bottom: 1em;
        right: 50%;
        transform: translateX(50%);
    }

.sb-slider img {
    width: 100%;
}

.footnote {
    font-size: 0.5em;
}

@keyframes in-anim-right {
    0%, 10% {
        opacity: -0.3;
        transform-origin: 50% 50% 0px;
        transform: perspective(1000px) rotateY(-180deg) translateY(100%) scale(0.5);
    }

    50% {
        transform-origin: 50% 50% 0px;
        transform: perspective(1000px) rotateY(-90deg) translateY(50%) translateZ(150px) scale(0.7);
    }

    90%, 100% {
        opacity: 1;
        transform-origin: 50% 50% 0px;
        transform: perspective(1000px) rotateY(0deg) translateY(0%) scale(1);
    }
}

@keyframes in-anim-left {
    0%, 10% {
        opacity: -0.3;
        transform-origin: 50% 50% 0px;
        transform: perspective(1000px) rotateY(180deg) translateY(100%) scale(0.5);
    }

    50% {
        transform-origin: 50% 50% 0px;
        transform: perspective(1000px) rotateY(90deg) translateY(50%) translateZ(150px) scale(0.75);
    }

    90%, 100% {
        opacity: 1;
        transform-origin: 50% 50% 0px;
        transform: perspective(1000px) rotateY(0deg) translateY(0%) scale(1);
    }
}

.anim-in-right > * {
    animation: in-anim-right linear 2s;
}

.anim-in-left > * {
    animation: in-anim-left linear 2s;
}

.anim-before > * {
    opacity: 0;
    transform: none;
    transform-origin: center center center;
    animation: none;
}

.anim-in > * {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

    .anim-in > *:nth-child(1) {
        animation-delay: 0s;
    }

    .anim-in > *:nth-child(2) {
        animation-delay: 0.1s;
    }

    .anim-in > *:nth-child(3) {
        animation-delay: 0.2s;
    }

    .anim-in > *:nth-child(4) {
        animation-delay: 0.3s;
    }

    .anim-in > *:nth-child(5) {
        animation-delay: 0.4s;
    }

    .anim-in > *:nth-child(6) {
        animation-delay: 0.5s;
    }

    .anim-in > *:nth-child(7) {
        animation-delay: 0.6s;
    }

    .anim-in > *:nth-child(8) {
        animation-delay: 0.7s;
    }

.shminists-info {
    text-align: justify;
}

.modal-backdrop {
    background: rgba(255, 255, 255, 0.2);
}

.modal-content {
    background: rgba(224, 224, 224, 0.2);
    backdrop-filter: blur(20px);
}

.shminists-info > h5 {
    background-color: yellow;
    text-align: center;
}

.shminists-info > input:checked + h6 + p,
.shminists-info > input:checked + h6 + p + p,
.shminists-info > input:checked + h6 + p + p + p,
.shminists-info > input:checked + h6 + p + p + p + p {
    opacity: 1;
    max-height: 20em;
    margin-bottom: 16px;
}

    .shminists-info > input:checked + h6 + p + img,
    .shminists-info > input:checked + h6 + p + div {
        opacity: 1;
        max-height: 20em;
        margin-bottom: 16px;
        display: block;
        -moz-transition: all 0.4s 0s, display 0s 1s;
        -o-transition: all 0.4s 0s, display 0s 1s;
        -webkit-transition: all 0.4s 0s, display 0s 1s;
        transition: all 0.4s 0s, display 0s 1s;
    }

.shminists-info > h6 {
    cursor: pointer;
    text-align: start;
    font-stretch: expanded;
}

.shminists-info > h5 {
    cursor: default;
    background-image: url('/images/tel-aviv2.jpg');
    text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
    background-size: cover;
    background-attachment: fixed;
}

.shminists-info > h6::before {
    content: ">>";
    display: inline-block;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-weight: 900;
    font-size: 0.8em;
    -moz-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
}

.shminists-info > input:checked + h6::before {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.shminists-info > p {
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    max-height: 0em;
    margin-bottom: 0;
    transition: all 0.4s linear;
}

.shminists-info > img,
.shminists-info > div {
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    max-height: 0em;
    margin-bottom: 0;
    display: none;
    transition: all 0.4s, display 0s 0.5s;
}

.register-btn {
    padding-top: 0;
    padding-bottom: 20px;
    display: block;
    position: fixed;
    transform: rotate(-90deg) translateY(95%);
    top: 20%;
    right: 0%;
    background: rgba(224, 224, 224, 0.2);
    backdrop-filter: blur(40px);
    border: 2px solid white;
    z-index: 1000;
    transition: all ease-in-out 0.35s;
}

.whatsapp-btn {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-image: url("images/WhatsApp_Logo_2.png");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(40px);
    border: 1px solid green;
    z-index: 1000;
    width: 2.5em;
    height: 2.5em;
    transition: all ease-in-out 0.35s;
}

.register-btn:hover {
    transform: rotate(-90deg) translateY(70%);
}

#registerModal .modal-dialog {
    max-width: 20em;
}

.register-form form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin-block-end: 0px;
}

.register-form div {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.register-form input[type=text],
.register-form textarea {
    background: transparent;
    border: none;
    margin-top: 1em;
    width: 100%;
    border-bottom: 1px solid #7000d7;
    transition: all ease-in-out 0.35s;
    resize: none;
}

    .register-form input[type=text]:focus,
    .register-btn textarea:focus {
        outline: none;
        border-bottom: 1px solid white;
    }

textarea {
    border: none;
    overflow: auto;
    outline: none;
}

.register-form input[type=text] + label,
.register-form textarea + label {
    position: absolute;
    color: #4b4b4b;
    bottom: 0;
    right: 0;
    transition: all ease-in-out 0.35s;
    pointer-events: none;
    font-size: 1.2em;
    transform: translateY(0);
}

    .register-form input[type=text] + label::after,
    .register-form textarea + label::after {
        content: ":";
        color: transparent;
        transition: color linear 0.35s;
    }

.register-form input[type=text]:valid + label,
.register-form input[type=text]:focus + label {
    color: #1d1d1d;
    font-size: 0.8em;
    transform: translateY(-2em);
}

.register-form textarea:not([value=" "]) + label,
.register-form textarea:focus + label {
    color: #1d1d1d;
    font-size: 0.8em;
    transform: translateY(-3.5em);
}

    .register-form textarea:not([value=" "]) + label::after,
    .register-form textarea:focus + label::after,
    .register-form input[type=text]:valid + label::after,
    .register-form input[type=text]:focus + label::after {
        color: #1d1d1d;
    }

.register-form input[type=submit] {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #7000d7;
    transition: all ease-in-out 0.35s;
    color: #7000d7;
    background: linear-gradient(120deg, transparent 33%, #7000d7 50%, transparent 66%);
    background-size: 300% 100%;
    background-position-x: 0%;
}

.register-form div:last-child div {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

.register-form input[type=submit]:focus {
    outline: none;
}

.register-form input[type=submit]:hover {
    border: 1px solid white;
    box-shadow: 0 0 20px 15px #7000d7;
    background-position-x: 100%;
    color: black;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

.spinner {
    filter: drop-shadow(2px 2px 1px #7000d7D0) drop-shadow(2px -2px 1px #7000d7D0) drop-shadow(-2px -2px 1px #7000d7D0) drop-shadow(-2px 2px 1px #7000d7D0);
    height: 50px;
    position: absolute !important;
    width: 90%;
    top: -6px;
    display: none;
    pointer-events: none;
}

    .spinner svg {
        display: block;
        margin: auto;
        width: 44px;
        height: 44px;
        transform: rotate(-52deg);
        animation: spinnerAnim forwards infinite 0.65s;
    }

    .spinner circle {
        fill: transparent;
        stroke: #7000d7;
        stroke-width: 1px;
        stroke-dasharray: 100;
    }

@keyframes spinnerAnim {
    100% {
        transform: rotate(308deg);
    }
}

.register-form input[type=submit].submitted {
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 20px 15px #7000d7;
    width: 0px;
    padding: 0px;
    border-width: 0px;
}

.ytb-videos > div {
    display: inline-block;
    width: 448px;
    max-width: 100%;
    margin: 5px;
}

div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
}

    div.stretchy-wrapper > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.ytb-videos iframe {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.zigzag > div:nth-of-type(even) {
    background: #e9e9e9;
    padding-top: 40px;
    padding-bottom: 40px;
}

    .zigzag > div:nth-of-type(even) .continue-btn {
        background-image: linear-gradient(180deg, transparent, #e9e9e9, #e9e9e9);
    }

.thank-you {
    background-image: url('/images/confetti.gif');
}

    .thank-you h1 {
        margin: 25px;
        animation: fade-in-from-bottom 4s ease;
    }

    .thank-you img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 60vh;
        opacity: 0;
        animation: fade-in-from-bottom 4s ease 0.3s;
        animation-fill-mode: forwards;
    }


@keyframes fade-in-from-bottom {
    from {
        -moz-transform: translateY(100vh) rotateX(-90deg);
        -ms-transform: translateY(100vh) rotateX(-90deg);
        -o-transform: translateY(100vh) rotateX(-90deg);
        -webkit-transform: translateY(100vh) rotateX(-90deg);
        transform: translateY(100vh) rotateX(-90deg);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0) rotateX(0);
        -ms-transform: translateY(0) rotateX(0);
        -o-transform: translateY(0) rotateX(0);
        -webkit-transform: translateY(0) rotateX(0);
        transform: translateY(0) rotateX(0);
        opacity: 1;
    }
}

@-moz-keyframes fade-in-from-bottom {
}

@-webkit-keyframes fade-in-from-bottom {
}